/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	line-height: 1.5;
}


/************* My CSS *************/

.container {
	width: 900px;
	margin: 0 auto;
}

.header {
	text-align: center;
	margin-left: 470px;
}

.main-heading {
	font-size: 40px;
	text-transform: capitalize;
	letter-spacing: 3px;
	word-spacing: 4px;
	margin: 50px 50px 0 50px;
	font-weight: 700;
}

.exercise-heading {
	margin-top: 50px;
	font-size: 32px;
	font-weight: 400;
	text-align: center;
}

.main-box {
	width: 200px;
	height: 200px;
	background-color: #D9F7D4;
	border: 10px solid cornflowerblue;
	outline: 5px solid black;
	margin-top: 30px;
	box-shadow: 0 0 0 18px saddlebrown;
	margin-left: 340px;
}

.box-description {
	display: inline-block;
	margin-left: 250px;
	margin-top: 30px;
}

.circle {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	display: inline-block;
	margin-left: 12px;
}

.circle-txt {
	padding-left: 8px;
}

.content-circle {
	background-color: aqua;	
}

.padding-circle {
	background-color: chartreuse;	
}

.border-circle {
	background-color:crimson;	
}

.margin-circle {
	background-color:violet;	
}

.second-big-contaner,
.fourth-big-container {
	width: 730px;
	height: 120px;
	border: 1px solid black;
	margin-top: 40px;
	margin-bottom: 50px;
}

.small-box-ex2,
.small-box-ex4 {
	box-shadow: border-box;
	width: 220px;
	height: 100px;
	display: inline-block;
	background-color: cornflowerblue;
	margin: 10px;	
}

.third-big-container {
	width: 730px;
	height: 260px;
	border: 1px solid black;
	margin-top: 40px;
	margin-bottom: 50px;
}

.small-box1-ex3,
.small-box2-ex3 {
	width: 220px;
	height: 100px;
	background-color: cornflowerblue;
	margin: 10px;	
	border: 1px solid black;
	display: inline-block;
}

.small-box3-ex3 {
	width: 220px;
	height: 100px;
	background-color: cornflowerblue;
	margin: 10px;
	border: 1px solid black;
}

.small-box-ex4 {
	border: 1px solid black;
	width: 215px;
}